# IDEs
.idea/
.vscode/
cmake-build-debug/

# Outputs
*.log
*.csv

# Predator
predator_obsolete/

# Temp files of NTFS filesystem
.fuse*

# Built binary and dynamic library
*.so
*.o
*.bc
tensor
false

# Exclude instrumenter dyn lib since it's hard to obtain
!LLVMInstrumenter.so
