# IDEs
.idea/
.vscode/
cmake-build-debug/
cmake-build-release/

# Outputs
*.log
*.csv
*.txt
!CMakeLists.txt
output/

# Temp files of NTFS filesystem
.fuse*

# Built binary and dynamic library
*.so
*.o
*.bc
bin/

# Alternative config for histogram
test_suites/histogram/custom/

experimental/
boost_*/
