# IDEs
.idea/
.vscode/
cmake-build-debug/
cmake-build-release/

# Outputs
*.log
*.csv
*.txt
!CMakeLists.txt
output/

# Temp files of NTFS filesystem
.fuse*

# Built binary and dynamic library
*.so
*.o
*.bc
bin/

# Personal compile script
compile.sh
